.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }

  .header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    display: flex;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .logo_place_header {
    position: absolute;
    width: 183px;
    height: 32px;
    top: 30px;
    left: 64px;
  }
  .header__title {
    width: 730px;
    height: auto;
    align-self: center;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 64px;
  }
  .header__subtitle {
    width: 388px;
    font-weight: normal;
    line-height: 25px;
    font-size: 18px;
    bottom: 30px;
    left: 64px;
    margin: 0;
    align-self: flex-end;
    position: absolute;
  }
  .header__link {
    color: #2f80ed;
    text-decoration: none;
  }

  .header__square-pic {
    background: #2f80ed;
    width: 568px;
    height: 568px;
    top: 64px;
    position: absolute;
    right: 0;
    z-index: -2;
    animation: rotate 20s linear infinite;
  }
  @keyframes rotate {
    from {
      transform: rotate(-360deg);
    }
  }

  .header__main-illustration {
    position: absolute;
    width: 765px;
    height: 608px;
    right: 0;
    bottom: 0;
    align-self: flex-end;
    z-index: -1;
  }

  .description {
    display: flex;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .oakley {
    display: flex;
    padding-top: 160px;
    margin-top: -70px;/*приблизительно*/
    margin-left: auto;
    margin-right: auto;
    background: #f2f2f2;
    background-size: 100%;
  }
  .two-columns {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
  .two-columns__brief {
    color: #2f80ed;
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
  }
  .two-columns__main-text {
    width: 80%;
    min-width: 784px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .two-columns__paragraph:last-of-type {
    margin-bottom: 0;
  }
  .two-columns__span-accent {
    font-weight: bold;
    line-height: 34px;
    font-size: 24px;
  }

  .techniques {
    margin: 100px auto 0 auto;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;/*
    border: 4px double blue;*/
  }
  .cards {
    display: flex;
    margin: 0 auto;
    padding-left: 0;
    width: 920px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    list-style-type: none;/*
    border: 4px double red;
  */
  }
  .cards__title {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 16px 0;
  }

  .cards__description {
    text-align: center;
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
  }

  .cards__item {
    vertical-align: top;
    width: 240px;/*
    border: 5px solid red;
    margin-right: 100px;*/

  }

  .cards__image {
    border-radius: 75%;
    width: 160px;
    height: 160px;
    margin: 60px 40px 43px 40px;
  }

  .video {
    margin: 100px auto 0 auto;
    flex-direction: column;

  }
  .video__iframes {
    display: flex;
    margin: 0 auto;
    width: 1050px;
    align-items: center;
    justify-content:space-between;
  }
  .video__iframe {
    margin-top: 50px;
    margin-bottom: ;
    width: 515px;
    height: 316px;
  }





  .digits {
    margin: 100px auto;
    flex-direction: column;
    align-items: flex-start;
  }
  .section-title {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    position: relative;
  }
  .section-subtitle {
    width: 60%;
    text-align: center;
    margin: 20px auto 0 auto;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    position: relative;
  }
  .table {
    display: flex;
    margin: 0 auto;
    padding-left: 0;
    width: 1100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    list-style-type: none;
  }
  .table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  .table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding-top: 20px;
  }
  .table__cell {
    vertical-align: top;
    width: 250px;
    padding-top: 60px;
  }

  .khan {
  padding-top: 105px;
  background-color: #f2f2f2;
  }
  .khan__container {
    width: 80%;
    margin: 0 auto;
  }
  .khan__author {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
  }
  .khan__title {
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
  }
  .khan__quote {
    width: 790px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .khan__quote-author {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 36px;
    margin-bottom: 0;
  }
  .khan__quote-author-subline {
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .khan__book-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 68px;
  }
  .khan__book-pic {
    width: 620px;
    height: 608px;
    margin-right: 48px;
  }
  .khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ed;
  }


  .feynman {
    display: flex;
    position: relative;
    min-height: 790px;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background-color: #f2f2f2;
    background-image: url(../images/feynman.png);
    background-size: 867px 637px;
    background-position: left bottom;
    background-repeat: no-repeat;
  }
  .feynman__title {
    width: 648px;
    font-size: 120px;
    font-weight: bold;
    line-height: 1.15;
    text-align: center;
    margin-top: 0;
    margin-bottom: 70px;
  }
  .feynman__subtitle {
    font-size: 36px;
    font-weight: normal;
    line-height: 51px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .feynman__link {
  top: 50%;
  right: 48px;
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  }

  .kaufman {
    background-color: #1f1f1f;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  .section-title_theme_dark {
    margin-top: 90px;
    color: white;
  }
  .section-subtitle_theme_dark {
    color: white;
  }
  .table_theme_dark {
    display: flex;
    margin: 0 auto 90px auto;
    padding-left: 0;
    width: 1100px;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
  }
  .table__cell_theme_dark {
    width: 200px;
    color: white;
    padding-top: 80px;
    margin: 0;
    vertical-align: top;
  }
  .kaufman__triangle {
    background-image: url(../images/kaufman-triangle.svg);
    background-repeat: no-repeat;
    background-size: 877px 877px;
    position: absolute;
    top: 0;
    right: -210px;
    width: 877px;
    height: 877px;
    z-index: -1;
    animation: rotate 2s linear infinite;
  }
  @keyframes rotate {
    from {
      transform: rotate(-360deg);
    }
  }

  .resources {
    margin: 100px auto 217px auto;
  }
  .resources__logo-zone {
    width: 1100px;
    margin: 80px auto 0 auto;
  }
  .resources__logo {
    width: 270px;
    height: 38px;
  }


  .footer {
    background-color: #1f1f1f;
    display: flex;
    min-height: 350px;
    color: white;
  }
  .footer__columns {
    width: 90%;
    margin: 60px auto 40px auto;
    display: flex;
    justify-content: space-between;
  }
  .footer__column_content_copyright{
    flex-basis: 710px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .logo_place_footer {
    width: 183px;
    height: 35px;
    align-self: flex-start;
  }
  .footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 18px;
    margin-top: 18px;
  }
  .footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .footer__column-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
  }
  .footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: white;
  }
  .footer__social-icon {
    width: 16px;
    height: 16px;
    padding-right: 10px;
  }

  .header__link:hover {
      background: slategray;
      color: springgreen;
  }
  .feynman__link:hover {
      background: slategray;
      color: springgreen;
  }
  .footer__column-link:hover {
      background: slategray;
      color: springgreen;
  }
